
---

layout: default title: "PGP Public Key" description: "PGP Public Key for Katie Bucks"

{% include header.html %}

<main>
    <section class="intro">
        <img src="Levîadjinn_headshot.png" alt="Levîadjinn Headshot" class="profile-image">
        <p>This is Katie Bucks' PGP public key. Use it to encrypt messages securely.</p>
    </section>
    <section class="pgp-key">
        <h2>Public Key</h2>
        <pre>
-----BEGIN PGP PUBLIC KEY BLOCK-----

mQINBGev7HMBEADLP25vSiYAnDPU0xRuwcCdQePXzN6uE6U3TMV1rBG6wwxkuttN
Ih4ue4+E4c2z7ibCqgu3ZFqPqiC+yLEXQ0mACG2DadZYusift8pY6cgZx6mKaSBJ
1YSqO0iwdLPtPD/M3MY7JIhGxAYfh9qsbCgc4oSCVZy4dAljquvapbGf7EHYcEO2
6GctJt9ZmGuILQ01u5a/sUyPQZyBlOG+hhqlbVVPX9eEsCr0Maw1ZlptXrdhKRUb
4fY4MHzx7z6bjlnUhYD7Io9vrsyRLrbzu2HXcgWGUJzNCmBnFIDsaEmV6/1OYfxB
BQ+3vKBLU3m6LPGcJ55ZdcB83lUckiWFiZBbPdicIV/iDrpqvcCAQDhj1skBWpPv
PUKecckiZEybJS+XibnMMGya6imxfJx89xIxidwyA2s0s01Np6yHBewumwpoGrZN
WFnWnXt9WMBAjU1qCS50iyVs9IlgeMe6EEI4xEaEQDxaHufsrVjg6QOaEwcM1S0U
AXo7E4LK/Fp+nLkYYEP4a4suWGqv6CGZTUWDuoGyy7lbXUz7HN26uAyzxN0Op5SE
XbkBO0I9m+KtpBV48chv1Tm/axhnS3V/IcLsMCIrBz8cY9sE5jSpVdqGARlbB5gc
bPagIWACrBXzceFOrNCgpt9HzO03fZGzpnQSpBdtxYuQ66ady8YmCiPiyQARAQAB
tCFLYXRpZSBLcmF1cyA8bWFpbEBrYXRpZWJ1Y2tzLnh5ej6JAjYEEwEIACAECwkI
BwIVCAIWAQIZAQWCZ6/scwKeAQKbAQWJA8Nj9gAKCRCPh1UgBOFQQMniEACnqAfF
1PSUk0OxkdLHgB0bo0ArgmjVGn4GeqVGjXbB5qNyXHhkSgaLN7jLv785Wg9q33qm
iPc09yRfZ9uoPgRNFmiiKad+jPinRHI92nbE8kqpVv1iZixYUNbEDi8WqyAIihjB
pSA/CrSAj83wEizcykdCB4CWT75RgbFOdB/pAKBdOeC8PDo41O2hMeEbqSzzYcl9
/ATlBFPrqe9UnQpJ2mAgn6eSPOndNDWZpsfzpi/4/pqpg6gukIaYMswC2ELlH8Lk
/o5M2n2X/+V+ixrdREGQGNs+r1UUukAUGzahM6RW89OGF+qtaOdw5nXa+hoqEuX5
nEUr7+++TEuuJOWyZamiID06/4W084A2MG+1uFtOqEKFf+ZsUPEXwDXu5qeQJgkB
l854O13RAzp+IU8FZbel86ImGRNvc7tT+cweFna5/NR4SqSqQkCiFGxuEAHeR9oE
iuRIHiZEQ3ma1YFzCdp4tf5t1cG6aR373iR03AghO2cPUruRqWO4rFM7YCBZR418
jXvDSYluKuCpXV89sWN9j7G6YKsWKE4yRzYRPb87k4l4+2Ab3v4o8Z5tzxl4R+g8
11ZTZD348xXMtFHM1Q8f6cRj5o+QnNmXlD1qi05Oz27dRGKjXH9JwvROOs4X6goq
4eLks336L027iLiBZeJ7ynUsbB4+BZrNl60NVLkCDQRnr+xzARAAogsUmnNMV2mA
7Id4uEKcfrDf1MLzcgOgVNbf4zNtrrVuW+Ui8iGPjA9B0fdRRlDY9xHOvp/KeYV9
hZPEpRUBnheNfExSuSVsqx301zmmoWB6Q1L8NWs5vGAkXOyw6H56aBHkW0vGo7sb
YoxRiocPev3ad9yYyEN2NHGKsG+PIPJ2px05jofTbypwTgx6eA4nUgIicUXe/KBt
YK25d6oPaZAnxfnmSddO60GcKbJhc7hyW3V/YjOlbDKYEDNuBSS2wFd0VxNpNTyM
UopZGYLN8lZdjcOqMTkvgpeOhlMyFYDhRNcoJkPI274b7B5RQnukRA9lTHA6qKv3
5/jlerkd2UBLzz5HzcSqptxhl74krAk7bvdiYXycnmTRzPv+iXyP/Tq48+q7Jq8q
dV+f2z0a+5UBm9y1dsteSwEQgNRMDo41j9111lkxDO90Dpa6VYx4bVhLHxXizAMm
jlvZpmt5L3mUzQ4OH5Q8h/3YG5ujEWXFYEuKLz9Q7iC62wzMH7Et89iIU4mrOn9p
Vk9aVrOlcISWy/ihkTNqL98TXHEoMvX12y12ZtajcrfE1EdnbDeMEip6wxlSSlYX
J0ekj7kuP8XbgMM8I3yWaY6aKiHbV+ot1Vrqgm2J5mZNLnybOP9lph9XVQousNmu
WbyVZTgjPbLWZFy6VgJ20j5lSCnSq9kAEQEAAYkERAQYAQgADwWCZ6/scwKbDgWJ
A8NkAQIpCRCPh1UgBOFQQMFdoAQZAQgABgUCZ6/scwAKCRBqk/WHMARvjz+wD/9N
FpJjthJJyJPCE5R75zB1GAIXxfOsL2FrEnSHnfM8wsp3YVeLpqAlWve5g3uDCLzd
xG8+rqfZnRA9ZajRipNeen70KCkbdevUoB3mwwRxysa+pCgEotxXfv5nljUqWUJe
vuVUZR9u6jjIx/rUdLZuGSx+LTRryYzx2cFvR66C6/B354NB+3jUCd+4de79gbrd
9voAf0q/8v6w/ZHZEz7Yj+Gr2Fwxtn3GLZ0FjXypIpxhIVBYxTCRhvG3E2cxgynz
1zVfqf9c9R99ERXEZ8F6ZdYGHLHjtQxw4gDkkp6VC7wcUI/KSbKrYyqZUUsf2iyA
1QUfmsu9f/6FqKmhBZJjoQgskob3+6+7DhusWffvdVXEhtG5qXMaczjyK38sffBc
RtOAvpu1LPce8I/2uaYXUqvAufMgi7FdCL71cNWhlovzz4jWsISIZD1OOlLBHQ+S
KsY2Xs6n1nmR0q4SMtEl9zgOAXTj74cyQw5Z+kaKUxLF5MKxXOWStIxGXbxusd/T
rBQZbEC79OpR+w3DBF7yZYjCiMiaKNnDTPTPToDZWOz0gHQvqomfshnfw3ak+HN3
yyPyswsZUvfjl5kaSJzvsfblY8XyoRoVLClICB0dfoBbvXa5wMg4dZ1Z6qnKIhB5
cegp5X73Z70xetRgfots30G4nnaf1uff7c6W3M7tPFP/EACxjKLiShzWh4BmgLPj
lqaeKAf/LXA38Dr7xFZ4V3P0eaOZjy7AArC/ZcImHxr+pRIHAr7GeCTtUfamGe2j
rWn+lZ3P/IJVMptMBEtnak/EAfoKMgRlOl7vqTH3L9nWwhtJeE7di0sxDx9S1d1k
h3S3MbHTtLXKXVZhzbZ1S+/P3Q4/VbMb5oltv3QHGdO5/E7DG1JKTnJpGbObVHZw
jHr5lTBjy5dxzRxtKpSXrOAQYDFOEMDyQMYFaFeYxOuSVSc8aSJTi/0VqQPD+RCI
959ieFIqGS44GiyIMnn1up1a1if9GPRzkrubuw7xuxj1fPcj/SiC1ueevxaOFFtP
AdmnTfNeWfi8G/yJzyqJ6z/HZ12JV4QDvk4u4i9QYJVcvD3K/4su7gjOrPnj2LD4
2lDFe1WUiZBypS+8GIbVO8C/CiFF8P0UTlo2oOK7LGS2pTWV0Br8JU/UYiMs0WlT
d8RnrnK5mSIHAYtT2UC1aTfAIJf29vDsmy+ia2amDWThCK1LI9AHCwqlTzfOUkit
FzsQfdCL01bxFZXSZp+DdCVSRdGN5R0oNzMby13kbNNfN/ilrzpjV34ZrCxNaKl5
w1xsnKA2wTrfqMEmvk5Gr/4qkFaULDbkMyyCDH9aOs79Mz+kr6vk6nHpNdIDipEA
sppZ2J2SNEueum5xNt7iE+eky7kCDQRnr+xzARAAyf3MMmyHVh6LwOu9wBTNf2GM
Kzd7FAxa6Zbvg+VfzEhKbIFny8Igiv18ByqQ5CoZHGsR4a0IOCcbXuVgLdyFnLRu
yqPEirbAzxNuGUV000+f0NiPxG01uDoLumMma0jcLkpznLlQdTpvZNKBuopDbpaK
FSyYkRPIddCQCW5/fBQYm90VhVhPYiCddklus7rcuCl44AwqVRLhzQ/uqjbSTmP0
Mc6fsiPZDzWVqaj/3T7iwFB8d9oBUWuV7hWclg1559Pp0QgIvXhJzRA2Y9qLzp2g
vPCDYjvgnubwFIi5LxuBfq/vLZEAfX71SlpVNUmszNBBnrLrp54n9m16OnyM7sit
Kj2El2EYqR71d3ZUhuYXX9BHoQCbGIvbETc0nst4eORY/oFFjVK6oNB0OJmGsAhH
47LvKdTd8LBt26NmoWmebSm4AEgzRbsI8IR7PgsW0HAToPMacWIzDwP6iYjAweJC
96YzRjUN0TEpzX9xqacDUTa674cJxFRC5L3i1j6MS/RCHVQCifpGH8wBj0fWRzCR
bY8ZtdlTzoiU7YFYZsZCo5ONL+sotYC2gUuSBc87XEolGVX45u7UKu9g/miY/0F9
gLqNCK3q6Ty/bFt6pa0qKEf2Aea9JX8yHyv+Zkhx3lvZzfyW3J8Wf/hIn1CPcJZ+
xU6THHiLvrCKQmsqEtUAEQEAAYkCJQQYAQgADwWCZ6/scwKbIAWJA8NkDgAKCRCP
h1UgBOFQQHrxD/9hV94kyZYWJkcZVQJkYZwzvqTG6sqvKhWCdk8ypaiqnALGO3TP
uXWjMi0J3+qZWOvOxEYxsFELSbRxGuhEmzhw1y/J4R1CTxhcGli1bLpS4uTUHthd
s2YlO9pGajGp2hy30hzvRNQ5NYToeq2yjYxcmZ+Qn+x92cEkQUROvAbwUIbp0mI4
UnftI5HBKSQbqKEJl9bKiH0jg4TPqFaV4OUIpJjpFKtK/53/3S3CI3L5CD/1sDyw
QK4719MyQ2CCT8NJWnY2eS2kpVmG1xZ4fra5rebAxn4HnWdQfbgecrMBLFDR9qEs
g3eLR/FsZanumpdp/X96arpdc/wfuQarQLYDWsIjfNsxyPkVQGN8IGiaTU+iq5iA
RnCf8XL5yPbOIelNOVJxzoD2nRFwifZhdVQjUq0mnmYFtgSFqFgba46Lkea+yqWF
qzobVRYYwQEEwpDPPfdJOet9MgiD8yD9msq2r/5vnU2SQgFNeQBioZ+nQ1+QSZ1B
TKGt2RKmvV9fIKMwUvdYaDHNVxlP1K3AgwWqsP/VwUP+nJpu9RTx3V26Oex5W1Vv
hCjsF2fbf3GI28TucSP7b4H2QXCkd09fWLR8nRT08YidQNjstJj95WycbUJeKCAq
q6XtTC9Yf7z+goMJpJDfp1Xaowk1gWeDKD0mNnkD87rUqGYSjmgl39zdVQ==
=5L4t
-----END PGP PUBLIC KEY BLOCK-----
</pre> </section>

</main>{% include footer.html %}