<header>
    <div class="banner-container">
        <img src="{{ '/assets/images/banner_top.png' | relative_url }}" alt="Top Banner" class="top-banner">
    </div>
    <div class="banner-text">
        <h1>KATIE BUCKS THE INVISIBLE FUCKS!</h1>
        <p>Spitting facts and rewriting rules | Get schooled, fool! 🖕</p>
    </div>
    <nav>
        <ul>
            <li><a href="{{ '/' | relative_url }}">Home</a></li>
            <li><a href="{{ '/privacy-guide/' | relative_url }}">Privacy Guide</a></li>
            <li><a href="{{ '/contact/' | relative_url }}">Contact</a></li>
            <li><a href="{{ '/mirrors/' | relative_url }}">Mirrors</a></li>
            <li><a href="{{ '/pgp/' | relative_url }}">PGP</a></li>
        </ul>
    </nav>
</header>