<header class="page-header">
    <div class="banner">
        <img src="banner.jpg" alt="Katie Bucks the Invisible FUCKS!">
        <h1 class="banner-title">{{ page.title }}</h1>
    </div>
    <nav>
        <div class="nav-container">
        <div class="nav-item"><a href="index.html">Home</a></div>
        <div class="nav-item"><a href="about.html">About</a></div>
        <div class="nav-item"><a href="contact.html">Contact</a></div>
        <div class="nav-item"><a href="privacy_guide.html">Privacy Guide</a></div>
        <div class="nav-item"><a href="PGP.html">PGP</a></div>
    </div>
    </nav>
</header>
