<header class="page-header">
    <div class="banner">
        <img src="banner.jpg" alt="Katie Bucks the Invisible FUCKS!">
    </div>
    <nav class="nav-container">
        <ul class="nav-links">
            <li><a href="index.html">Home</a></li>
            <li><a href="privacyguide.html">Privacy Guide</a></li>
            <li><a href="about.html">About Me</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="PGP.html">PGP</a></li>
        </ul>
    </nav>
    <div class="mirrors">
        <h3>Mirrors</h3>
        <p><a href="http://katiebucks.onion">katiebucks.onion</a></p>
        <p><a href="PGP.html">PGP</a></p>
    </div>
</header>